---
import GradientText from "@/components/typography/GradientText.astro";
import IcExternalLink from "~icons/ri/external-link-fill";
---

<section
  class="hero min-h-screen bg-[url(https://images.unsplash.com/photo-1628126235206-5260b9ea6441?auto=format&fit=crop&w=640&q=80)]"
>
  <div class="hero-overlay backdrop-blur-lg bg-base-300/75"></div>
  <div class="hero-content">
    <div>
      <h1 class="text-5xl font-bold">
        <GradientText>少锋博客</GradientText>
      </h1>
      <p class="py-6">
        穷则变，变则通，通则久 <br />
        觉得自己有技术追求，其实是错觉，只不过是不断拼命追求的结果而已。
      </p>
      <a
        href="https://docs.astro.build/en/getting-started/"
        target="_blank"
        class="btn btn-primary"
      >
        开始
        <IcExternalLink class="ml-2 w-4 h-4" />
      </a>
    </div>
    <img
      src="https://images.unsplash.com/photo-1628126235206-5260b9ea6441?auto=format&fit=crop&w=640&q=80"
      class="mask mask-hexagon max-w-sm rounded-lg shadow-2xl"
    />
  </div>
</section>
