---
import Layout from "@/layouts/Layout.astro";
import IcArrowLeft from "~icons/ri/arrow-left-fill";
---

<Layout title="关于">
  <main class="container py-12">
    <div class="flex space-x-4 mb-12">
      <a href="/" class="btn btn-ghost">
        <IcArrowLeft class="w-6 h-6" />
      </a>
      <h1 class="text-5xl">关于博客</h1>
    </div>
    <p class="pb-8">这是有关于我的第一个博客的初衷，敬请期待</p>
  </main>
</Layout>
