---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Feature from "@/components/cards/Feature.astro";
---

<Layout title={import.meta.env.APP_NAME}>
  <main>
    <Hero />
    <section class="container py-16">
      <h2 class="text-4xl mb-16">博客技术栈</h2>
      <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <Feature
          title="Vue"
          description="一个用于构建web用户界面的可接近、高性能和多功能框架。"
          action="Vue Docs"
          href={import.meta.env.VUE_URL}
        />
        <Feature
          title="TailwindCSS"
          description="一个实用程序优先的CSS框架，可以直接在标记中构建任何设计。"
          action="TailwindCSS Docs"
          href={import.meta.env.TAILWINDCSS_URL}
        />
        <Feature
          title="DaisyUI"
          description="最流行、免费和开源的Tailwind CSS组件库"
          action="DaisyUI Docs"
          href={import.meta.env.DAISYUI_URL}
        />
      </div>
    </section>
  </main>
</Layout>
