---
import Layout from "@/layouts/Layout.astro";
import IcArrowLeft from "~icons/ri/arrow-left-fill";
---

<Layout title="Privacy Policy">
  <main class="container py-12">
    <div class="flex space-x-4 mb-12">
      <a href="/" class="btn btn-ghost">
        <IcArrowLeft class="w-6 h-6" />
      </a>
      <h1 class="text-5xl">敬请期待</h1>
    </div>
    <p class="pb-8">...</p>
  </main>
</Layout>
